/**
 * 历史地址列表下拉框  
 * 
 * @date 2014-08-01 星期五
 * 
 */

.dialog-historyaddr .map-dialog .content {
  width: 240px;
  padding: 0;
  background-color: #FAFAFA;
}

.dialog-historyaddr li a.name {
  font-size: 14px;
  color: #000000;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  border-top: 1px solid #DEDEDE;
  padding-right: 0;
}

.dialog-historyaddr li a.first {
  border-top: 0;
}

.dialog-historyaddr li.over a.name {
  background-color: #EEEEEE;
}

.dialog-historyaddr .address-warp {
  width: 100%;
  outline: none;
}

.dialog-historyaddr .del-history {
  width: 13px;
  height: 13px;
  background-position: -4px -255px;
  display: none;
  margin-right: 10px;
  margin-top: 20px;
}

.dialog-historyaddr .over .del-history {
  display: block;
}

.dialog-historyaddr .empty {
  line-height: 50px;
  text-align: center;
  color: #434343;
  font-size: 16px;
}