/**
 * 订单中心交互的优化之后的页面样式表
 *
 * @author xukai@meituan.com
 * @date 2014-05-26 星期一
 */

@import url("paytags.css");
@import url("customerservice.css");
@import url("select.css");
@import url("jscrollpane.css");

.order-v {
  background-color: #FFFFFF;
  color: #434343;
  position: relative;
  padding: 0 30px;
}

.order-v .brief-intro {
  height: 130px;
  border-bottom: 1px dashed #e5e5e5;
  cursor:pointer;
}
.order-v .brief-intro:hover{
  background: #fafafa;
  margin-left: -30px;
  padding-left: 30px;
  margin-right: -30px;
  padding-right: 30px;
  border: 0;
  padding-bottom: 1px;
}
.order-v:last-of-type .brief-intro{
    border-bottom: none;
}

.order-v .brief-intro i.i-actionarr {
  width: 16px;
  height: 16px;
  background-position: -544px -151px;
  margin: 35px 0 0 0;
  cursor:pointer;
  position:absolute;
  right:0;
}

.order-hidden .brief-intro i.i-actionarr {
  background-position: -524px -151px;
}

.order-v .detail-intro {
  border: 1px solid #E5E5E5;
  background: #fff;
  position: relative;
  margin-top: -1px;
}

.order-v .auto-confirm-box {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.order-v .auto-confirm-box p {
  width: 415px;
  padding: 15px 0 20px;
  font-size: 12px;
  line-height: 20px;
}

.order-v .brief-intro .content {
  padding-left: 113px;
}

.brief-intro-topconsole {
  width: 100px;  /*just for ie6*/
  position: relative;
}

.brief-intro-topconsole .toggle-content,
.brief-intro-topconsole .order-complaint{
  width: 50px;  /*just for ie6*/
}

.brief-intro-topconsole .i-msg-grey {
  cursor: pointer;
  position: absolute;
  left: -20px;
  top: 2px;
}

.order-v .avatar {
  display: block;
  height: 70px;
  line-height: 70px;
  width: 93px;
  margin: 30px 0;
  text-align: center;
  overflow: hidden;
  _display: inline;
}

.order-v .avatar img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.order-v .rest-name {
  font-size: 16px;
  padding-top: 45px;
  color: #333;
  overflow: hidden;
  line-height: 1;
  /* font-family: \5FAE\8F6F\96C5\9ED1; */
}

.order-v .rest-name a:hover {
  color: #ffa735;
}

.order-v .rest-name a:hover .icon {
  background-position: -244px -23px;
}

.order-v .rest-detail {
  margin-top: -10px;
  color: #999;
}

.order-v .rest-detail .order-id {
  display: inline-block;
  width: 180px;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: -4px;
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.order-v .order-total {
  font-size: 14px;
  color: #333;
  margin-left: 14px;
}
.order-v .rest-name .order-total{
    display: inline-block;
    width: 131px;
    line-height: 36px;
    font-size: 12px;
}
.rest-name .order-money-num{
    display: inline-block;
    font-size: 14px;
    color: #333;
    line-height: 36px;
    font-weight: bold;
}

.order-v .rest-detail .order-ino,
.order-v .rest-detail .order-total {
  margin-left: 0;
  color: #999;
  font-size: 12px;
}

.order-v .rest-detail .i-mobile {
  margin-right: 4px;
  margin-top: 3px;
}

.rest-detail .timeout {
  color: #888;
}

.rest-detail .pay-time-limit {
  color: #fe4d3d;
}

.timer .red {
  color: #fe4d3d;
}

.order-v .rest-name .icon {
  margin-left: 10px;
}

.order-v .rest-name .ca-deepgrey {
  width: 296px;
  float: left;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.order-v .rest-name .online-pricetag {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 4px;
}

.order-v .rest-name .online-pricetag-new {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 4px;
  color: #444;
}

.order-v .online-pricetag-new .icon {
  margin: 3px 3px 0 0;
}

.order-v .rest-name .pay-type-text {
  color: #448ed5;
}

.rest-name .ca-deepgrey .poi-name {
  display: inline-block;
  width: 97%;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-v .rest-name .pay-online-tip {
  padding: 4px 7px;
  border-radius: 2px;
  color: #fff;
  background-color: #fe4d3d;
  font-size: 12px;
  margin-left: 30px;
  vertical-align: 3px;
}

.order-v .dishes {
  border-right: 1px solid #E5E5E5;
  background-color: #fff;
  width: 298px;
  padding: 16px 0 0 20px;
  /*min-height: 510px;
  _height: 400px;*/
  color: #333;
}
.order-v .dishes .list{
  padding-right: 38px;
}

.order-v .dishes-higher {
  /*min-height: 540px;
  _height: 540px;*/
}

.order-v .order-content {
  margin-left: 318px;
  border-left: 1px solid #e5e5e5;
}

.order-v .confirm {
  margin-right: 5px;
}

.order-v .leave-ct {
  margin-right: 5px;
}

.order-v .refund-appeal {
  margin-right: 5px;
}

.order-v .contact-service {
  margin-right: 5px;
}

.order-v .dishes .total {
  height: 51px;
  line-height: 51px;
  padding-left: 20px;
  font-size: 14px;
  color: #999;
}

.order-v .dishes .total .bold {
  font-size: 14px;
  color: #fe4d3d;
  padding: 0 2px;
  font-weight: normal;
}

.order-v .contact {
  padding-top: 16px;
  padding-bottom: 20px;
  margin-right: 38px;
  border-top: 1px solid #e5e5e5;
}

.order-v .compensate {
  padding: 0 19px;
  padding-bottom: 10px;
}

.order-v .contact p {
  line-height: 22px;
  color: #666;
}

.order-v .statement {
  border-top: 1px solid #e5e5e5;
  padding: 16px 0;
}

.order-v .list {

}

.order-v .dish-list, .order-v .fee-list {
  font-size: 14px;
  color: #333;
}

.dish-list .food-na {
  font-size: 14px;
  color: #333;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.order-v .thirdpart-pic {
  height: 12px;
  vertical-align: text-top;
}

.order-v .food-total-info {
  border-top: 1px dashed #e5e5e5;
  font-size: 14px;
  color: #333;
  padding: 22px 0 18px;
  text-align: right;
}
.order-v .food-total-info i{
    color: #ff5a5a;
}
.order-v .food-total-info span{
    margin-left: 2px;
    font-size: 22px;
    color: #ff5a5a;
}

.order-v .list-all {
  text-align: center;
  border-bottom: 1px dashed #D2D2D2;
  color: #888888;
  height: 29px;
  line-height: 28px;
  display: block;
}

.order-v .field {
  overflow: hidden;
  margin-bottom: 15px;
}

.order-v .field .online-pricetag {
  float: left;
  margin-left: 5px;
}
.order-v .field .food-count{
    margin-left: 30px;
}
.order-v .field .food-pri {
  /*width: 80px;*/
  text-align: right;
}
.order-v .field .food-pri i{
    margin-right: 2px;
}
.order-v .cc-lightred-new .food-pri{
    color: #ff5a5a;
}

.order-v .self-ct .bold {
  font-size: 14px;
  color: #999;
}

.order-v .ct {
  padding: 16px 20px 25px 37px;
  padding-bottom: 0;
  font-size: 14px;
  color: #999;
}

.order-v .ct .speed {
  margin-top: 26px;
}

.order-v .general-rank {
  margin-top: 26px;
  overflow: hidden;
}

.order-v .general-rank .bold,
.order-v .speed .bold,
.order-v .taste .bold,
.order-v .feel .bold {
  font-size: 14px;
}

.order-v .general-rank,
.order-v .speed,
.order-v .taste,
.order-v .feel {
  overflow: hidden;
  *zoom: 1;
}

.order-v .general-rank .rank-stars {
  height: 15px;
  line-height: 15px;
  padding-left: 84px;
  margin-top: 1px;
  *padding-left: 0;
}

.order-v .general-rank .icon {
  margin-right: 5px;
}

.order-v .ct .speed .time-cont {
  display: block;
  padding-left: 84px;
  color: #333;
}

.order-v .ct .taste {
  margin-top: 26px;
}

.order-v .taste .detail {
  padding-left: 84px;
  color: #333;
  line-height: 19px;
}

.order-v .taste .food-na {
  font-size: 12px;
  margin-right: 15px;
  display: inline-block;
}

.order-v .taste-none {
  font-size: 14px;
}

.order-v .dish-sku {
  color: #898989;
  font-size: 12px;
  max-width: 140px;
  _width: 140px;
  _overflow: visible;
}

.order-v .taste .bold {
  /*height: 30px;
  line-height: 30px;*/
}

.order-v .feel .detail {
  padding-left: 84px;
  word-break: break-all;
  color: #333;
  line-height: 21px;
}

.order-v .taste .field {
  color: #434343;
  margin-bottom: 8px;
}

.order-v .ct .feel {
  margin-top: 26px;
  line-height: 21px;
}

.order-v .ct .finish-ti {
  color: #888888;
  margin-top: 5px;
  font-size: 12px;
}

.order-v .comment-box {
  padding: 16px 20px 85px 37px;
}

.order-v .comment-header {
  margin-bottom: 26px;
  font-size: 14px;
  position: relative;
  font-weight: bold;
  color: #999;
}

.order-v .after-confirm {
  padding-left: 32px;
}

.order-v .i-hook-26 {
  position: absolute;
  top: 0;
  left: 0;
}

.order-v .f14 {
  font-size: 14px;
}

.order-v .f14 .ct-red{
    color: #ff5a5a;
    margin-right: 6px;
}

.order-v .comment-star,
.order-v .comment-time {
  margin-bottom: 20px;
  color: #333;
}
.order-v .comment-star{
  height: 26px;
  line-height: 26px;
}
.order-v .comment-time{
  height: 34px;
  line-height: 34px;
}

.order-v .stars-rank {
  margin-top: 3px;
  margin-left: 10px;
}

.order-v .stars-rank i {
  margin-left: 4px;
  cursor: pointer;
  background: url('../images/star-gray.svg');
  background-repeat:no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
.order-v .stars-rank .i-star-full-n{
  background-image: url('../fonts/star-yellow.svg');
}
.order-v .rank-text,
.order-v .time-text {
  margin-left: 22px;
}

.order-v .select-input {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  color: #999;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding-left: 12px;
  position: relative;
  width: 119px;
  margin: 0 15px;
  border-radius: 2px;
  z-index: 1;
}

.order-v .select-input .icon {
  background-position: -514px -5px;
}

.order-v .select-input span {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.order-v .select-input i {
  height: 6px;
  margin-left: 5px;
  position: absolute;
  right: 12px;
  top: 13px;
  width: 10px;
}

.order-v .dishes-head {
  float: left;
  /*margin-top: 5px;*/
}

.order-v .dishes-content {
  width: 264px;
  margin-left: 15px;
}

.order-v .comment-dishes {
  margin-bottom: 10px;
  margin-left: 9px;
  overflow: hidden;
  *zoom: 1;
}

/*.order-v .comment-dishes a:hover,
.order-v .comment-dishes a:hover .dishes-left,
.order-v .comment-dishes a:hover .dishes-right,
.order-v .comment-dishes .selected,
.order-v .comment-dishes .selected .dishes-left,
.order-v .comment-dishes .selected .dishes-right {
  background-image: url('../images/circle-hover-btn.png');
  _background-image: url('../images/_circle-hover-btn.png');
}

.order-v .comment-dishes a:hover i,
.order-v .comment-dishes .selected i {
  background-position: -162px -472px;
}*/

.order-v .ordered-dishes,
.order-v .ordered-dishes span {
  /*background-image: url('../images/circle-btn.png');*/
  display: inline-block;
  vertical-align: middle;
}

.order-v .ordered-dishes {
  position: relative;
  margin: 0 20px 10px 0;
}

.order-v .dishes-left {
  background-repeat: no-repeat;
  background-position: 0 0px;
}

.order-v .dishes-right {
  line-height: 19px;
  font-size: 14px;
}

.order-v .ordered-dishes i {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
  background: #fff;
  border-radius: 1px;
  position: relative;
}
.order-v .selected.ordered-dishes i,
.order-v .comment-dishes a:hover i{
  border: none;
  padding: 1px;
  background: #ffd161;
}
.order-v .selected.ordered-dishes i:before{
  content: ' ';
  display: inline-block;
  width: 7px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 2px;
  top: 9px;
}
.order-v .selected.ordered-dishes i:after{
  content: '';
  display: inline-block;
  width: 9px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: rotate(315deg);
  left: 6px;
  top: 8px;
}

.order-v .comment-text {
  margin-bottom: 20px;
  margin-left: 9px;
  overflow: hidden;
  *zoom: 1;
}
.order-v .comment-text .f14{
  margin-top: 8px;
}
.order-v .comment-input {
    float: left;
  resize: none;
  height: 100px;
  width: 252px;
  margin-left: 13px;
  padding: 8px;
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13) inset;*/
  border-radius: 2px;
  border-color: #e5e5e5;
}

.order-v .comment-submit {
  margin-left: 82px;
}

.order-v .error-box {
  margin-bottom: 20px;
  padding-left: 70px;
}

.order-v .submit-btn {
    width: 80px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

.order-v .submit-btn span {
  padding-right: 25px;
}

.order-v .procedure {
  padding:16px 20px 86px 37px;
  /* TODO 其实我也不知道为什么清除浮动的这个地方会出来个高度 */
  overflow: hidden;
  *zoom: 1;
}
.order-v .procedure .process-bar{
  margin-top: 6px;
}
.order-v .process-bar i {
  display: block;
  background-image: none;

}
.order-v .process-bar .icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.order-v .process-bar .i-orderetyok{
    background: #ffd161;
}
.order-v .process-bar .i-orderetyok{
    background: #e5e5e5;
}

.order-v .process-bar i.i-orderarrow {
  width: 1px;
  height: 42px;
  background: #ffd161;
  margin: 5px 0 5px 3px;
}

.order-v .process-bar i.i-orderetyarrow {
  width: 1px;
  height: 42px;
  margin: 5px 0 5px 3px;
  background: #e5e5e5;
}

.order-v .process-bar i.higher {
  height: 135px;
}

.order-v .tips {
  margin-left: 31px;
  width: 319px;
}


.order-v .tips .space {
  padding: 0 2px;
}

.order-v .tips .bold {
  font-size: 14px;
  color: #333;
  font-weight: normal;
}

.order-v .tips .sub {
  color: #999;
  margin-top: 5px;
}

.order-v .tips .btn-group {
  margin-top: 8px;
}

.order-v .tips .step-1,
.order-v .tips .step-2,
.order-v .tips .step-3,
.order-v .tips .step-4,
.order-v .tips .step-delivery {
  height: 59px;
}

.order-v .tips .larger {
  height: 153px;
}
.order-v .s-btn{
  background: #FFD161;
}
.order-v .s-btn-white{
  background: #fff;
  border: 1px solid #999;
  color: #333;
}

/* .order-v .tips .step-2,
.order-v .tips .step-finish,
.order-v .tips .step-cancel {
  margin-top: 47px;
} */

.order-v .not-paied {
  margin-right: 30px;
}

.order-v .money-back {
  margin-right: 5px;
}

.order-v .check-money {
  margin-right: 5px;
}

.order-v .zan-info {
  margin-right: 120px;
}

.order-v .zan-info span {
  margin-left: 7px;
}

.order-v .food-rank .icon {
  float: left;
  margin-left: 3px;
  cursor: pointer;
}

.order-v .rank-stars .no-score {
  float: left;
  margin-left: 20px;
  text-align: right;
  color: #333;
}

.order-v .toggle-content {
  color: #434343;
  margin: 36px 0 0 0;
  width:71px;
  position:absolute;
  right:0;
}

.order-v .order-another {
  float: right;
  margin-top: 46px;
  width: 88px;
  line-height: 12px;
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
  color: #333;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #999;
}

.order-v .order-another:hover {
  color: #333;
  background-color: #ffd161;
  border-color: #ffd161;
}

.order-v .order-complaint {
  width: 60px;
  position: absolute;
  right: 0;
  top: 64px;
  color: #535353;
  font-size: 12px;
}

.order-v .order-complaint:hover {
  color: #ffa735;
}

.order-v .order-complaint:hover i {
  background-position: -187px -472px;
}

.order-v .order-st {
  color: #6FB01A;
}

.order-v .order-st,
.order-hidden .phone,
.order-hidden .i-mobile,
.order-hidden .i-hasordered {
  display: none;
}

.order-v .i-hasordered {
  position: absolute;
  top: 100px;
  left: 200px;
}

.order-v .cancel-reason .tip,
.order-v .step-3 .tip {
  background-color: #fffdf0;
  border: 1px solid #ffd161;
  padding: 5px 10px;
  color: #ffa735;
  width: 294px;
}

.order-v .step-3 .tip {
  margin: 10px 0;
}

.order-v .pay-back {
  margin-right: 5px;
}

.order-v .cancel-reason {
  margin-top: 8px;
  padding-left: 44px;
}

.order-v .cancel-reason p {
  margin-bottom: 10px;
}

.order-v .ord-hurry {
  margin-right: 5px;
}

.order-v .ord-pay {
  margin-right: 5px;
}

.order-v .step-1 .ord-hurry {
  margin-left: 0px;
}

.order-v .ord-cancel {
  margin-right: 5px;
}

.order-v .wait-verify,
.order-v .ord-cancel-text,
.order-v .ord-succ-text {
  margin-top: 21px;
  margin-right: 10px;
}

.cancel-order-dialog .cancel-tip {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  color: #666;
}

.cancel-order-dialog .btn-group {
  text-align: center;
  margin-top: 17px;
  padding-bottom: 15px;
}

.cancel-order-dialog .hold-on {
  margin-left: 5px;
}

.cancel-order-dialog3 .cancel-tip,
.cancel-order-dialog4 .cancel-tip,
.cancel-order-dialog6 .cancel-tip{
  color: #666;
  font-size: 14px;
  margin-top: 12px;
}

.cancel-order-dialog3 .cancel-tip,
.cancel-order-dialog4 .cancel-tip,
.cancel-order-dialog6 .cancel-tip {
  text-align: center;
}

.cancel-order-dialog3 .rest-phone,
.cancel-order-dialog4 .rest-phone,
.cancel-order-dialog6 .rest-phone {
  color: #666;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.cancel-order-dialog3 .btn-group,
.cancel-order-dialog4 .btn-group,
.apply-refund-dialog  .btn-group,
.cancel-order-dialog6 .btn-group {
  text-align: center;
  margin-top: 12px;
  padding-bottom: 11px;
}

.cancel-order-dialog5 .dialog-main .content {
  text-align: center;
}

.cancel-order-dialog5 .dialog-main .cancel-tip {
  color: #434343;
  font-size: 16px;
  margin-top: 36px;
  margin-bottom: 13px;
}

.cancel-order-dialog5 .dialog-main .pay-online-tip {
  color: #666;
  margin-bottom: 38px;
}

.cancel-order-dialog5 .dialog-main .btn-group {
  padding-bottom: 48px;
}

.cancel-order-dialog5 .btn-group .carry-on {
  margin-right: 18px;
}

.cancel-order-dialog7 .dialog-main .content {
  text-align: center;
}

.cancel-order-dialog7 .dialog-main .cancel-tip {
  color: #434343;
  font-size: 18px;
  margin-top: 36px;
  margin-bottom: 13px;
}

.cancel-order-dialog7 .dialog-main p {
  color: #666;
  margin-bottom: 20px;
}

.cancel-order-dialog7 .dialog-main .btn-group {
  padding-bottom: 48px;
}

.cancel-order-dialog7 .btn-group .carry-on {
  margin-right: 18px;
}

.cancel-order-dialog8 {

}

.cancel-order-dialog8 .tips {
  padding: 20px 26px 0;
}

.cancel-order-dialog8 .desc {
  margin-left: 51px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 7px;
}

.apply-refund-dialog  .desc{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding-top: 7px;
}

.cancel-order-dialog8 .sub-desc {
  font-size: 12px;
  color: #898989;
  margin: 10px 0 0 76px;
}

.apply-refund-dialog  .sub-desc{
  font-size: 12px;
  color: #898989;
  margin-top: 10px;
  text-align: center;
}

.cancel-order-dialog8 .phone {
  font-size: 16px;
  color: #fe4d3d;
  margin-left: 4px;
}

.cancel-order-dialog8 .btn-group {
  margin: 47px 0 20px;
  text-align: center;
}

/* 通用的取消弹框 */
.cancel-nomal-dialog .cancel-title {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  color: #333;
  font-weight: bold;
}

.cancel-nomal-dialog .cancel-desc {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #666;
}

.cancel-nomal-dialog .btn-group {
  text-align: center;
  margin-top: 17px;
  padding-bottom: 15px;
}

.cancel-nomal-dialog .hold-on {
  margin-left: 5px;
}

.order-v .t-1,
.order-v .t-2,
.order-v .t-3,
.order-v .t-delivery,
.order-v .t-finish,
.order-v .t-cancel,
.order-v .t-4 {
  margin-top: 2px;
  color: #999;
}

.order-v .not-yet {
  color: #000000;
  margin-right: 5px;
}

.order-v .pay-choose,
.order-v .other-rests {
  margin-right: 5px;
}

.dialog-orderfb .content,
.dialog-orderhurry .content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dialog-orderfb p,
.dialog-orderhurry p {
  color: #666;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
}

.dialog-orderfb p a,
.dialog-orderhurry p a {
  color: #fe4d3d;
}

.dialog-orderhurry .btn-group {
  margin-top: 10px;
  text-align: center;
}

/* cancel-order-dialog2这种取消订单的弹框样式和催单弹框类似，其它取消订单弹框还没统一 */
.cancel-order-dialog2 .cancel-tip,
.dialog-orderhurry .content-title {
  font-size: 16px;
  line-height: 12px;
  color: #434343;
  text-align: center;
}

.cancel-order-dialog2 .i-phonecall-new,
.dialog-orderhurry .i-phonecall-new {
  vertical-align: middle;
  margin-right: 15px;
}

.cancel-order-dialog2 .content-phone,
.dialog-orderhurry .content-phone {
  color: #fe4d3d;
  font-size: 22px;
}

.cancel-order-dialog2 .rest-phone {
  color: #666;
  font-size: 14px;
  text-align: center;
  margin-top: 14px;
}

.cancel-order-dialog2 .btn-group {
  text-align: center;
  margin-top: 12px;
  padding-bottom: 11px;
}

.dialog-accept .tips {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.dialog-accept .btn-group {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 20px;
}

.dialog-accept .btn-group .cancel {
  margin-left: 10px;
}

.dish-title,
.pro-order-status{
    font-size: 14px;
    color: #999;
    margin-bottom: 26px;
    font-weight: bold;
}
.field .classify{
    color: #333;
}
.cc-lightred-new .delivery-cost{
    color: #ff5a5a;
}
.orders-list .order-header{
    line-height: 50px;
    font-size: 12px;
    color: #666;
    padding-left: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.orders-list .order-header span{
  display: inline-block;
}
.order-header .oh-content{
  width: 410px;
  margin-left: 14px;
}
.order-header .oh-phone{
    width: 131px;
}
.order-header .oh-money{
  display: inline-block;
  width: 72px;
}
.order-header .oh-operate{
    margin-left: 20px;
}
